In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.ensemble import RandomForestRegressor
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error, r2_score

In [2]:
data=pd.read_csv('airquality.csv')

In [3]:
data.head()

         Date Country    City Specie  count  min   max  median  variance
0  28-03-2022      SK  Košice     co     92  3.8  10.6     4.9     13.19
1  03-05-2022      SK  Košice     co     92  3.1   9.9     4.2      5.59
2  15-05-2022      SK  Košice     co     92  2.9  19.0     3.8     31.46
3  04-09-2022      SK  Košice     co     92  2.5   8.5     2.9     22.18
4  13-10-2022      SK  Košice     co     92  2.5  12.8     4.9     37.85

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1048571 entries, 0 to 1048570
Data columns (total 9 columns):
 #   Column    Non-Null Count    Dtype
---  ------    --------------    -----
 0   Date      1048571 non-null  object
 1   Country   1048571 non-null  object
 2   City      1048571 non-null  object
 3   Specie    1048571 non-null  object
 4   count     1048571 non-null  int64
 5   min       1048571 non-null  float64
 6   max       1048571 non-null  float64
 7   median    1048571 non-null  float64
 8   variance  1048571 non-null  float64
dtypes: float64(4), int64(1), object(4)
memory usage: 72.0+ MB

In [5]:
data.isnull().sum()

Date        0
Country     0
City        0
Specie      0
count       0
min         0
max         0
median      0
variance    0
dtype: int64

In [6]:
data=pd.get_dummies(data,columns=['Country','City'])

In [7]:
data.head()

,Date,Specie,count,min,max,median,variance,Country_AU,Country_BA,Country_BD,...,City_Yokohama,City_Zabrze,City_Zagreb,City_Zaragoza,City_Zarqa,City_Zenica,City_İzmir,City_İzmit,City_Łódź,City_Ōita
0,28-03-2022,co,92,3.8,10.6,4.9,13.19,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,03-05-2022,co,92,3.1,9.9,4.2,5.59,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,15-05-2022,co,92,2.9,19.0,3.8,31.46,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,04-09-2022,co,92,2.5,8.5,2.9,22.18,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,13-10-2022,co,92,2.5,12.8,4.9,37.85,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [8]:
x=data.drop(columns=['Date','count','Specie'])
y=data['count']

In [9]:
scaler=StandardScaler()
x_scaled = scaler.fit_transform(x)

In [10]:
x_train, x_test, y_train, y_test = train_test_split(x_scaled, y, test_size=0.2, random_state=42)

In [12]:
rfr= RandomForestRegressor()
lr = LinearRegression()

In [13]:
lr.fit(x_train,y_train)
y_pred_lr=lr.predict(x_test)

In [14]:
lr.score(x_test,y_test)

0.7998054281339109

In [15]:
rmse = mean_squared_error(y_test, y_pred_lr, squared=False)
r2 = r2_score(y_test, y_pred_lr)

In [16]:
print("Root Mean Squared Error (RMSE):", rmse)
print("R-squared value:", r2)

Root Mean Squared Error (RMSE): 92.87008696288642
R-squared value: 0.7998054281339109

In [ ]:
rfr.fit(x_train,y_train)
y_pred_rfr=rfr.predict(x_test)